{% extends "layout.html" %}


<div class="container">
    {% block doldur %}
    <h3>Hakkımda</h3>
    <hr>
    <b>Python'da Asal Sayı Bulma Algoritmaları ve Bunların Evrimi</b> <br>
Kimse inkar etmesin, herkes programlama öğrenme sürecinin bir aşamasında asal sayı hesaplamaya çalışmıştır. Bu ilk algoritmalar, çoğu zaman verimsiz algoritmalardır. Biraz kendi deneyimlerimden yola çıkarak, Python'dan asal sayı hesaplama fonksiyonlarının evrim sürecinden bahsedeceğim.<br>
<b>Tanımdan Gitme - Prosedürel</b> <br>
Asal sayıları biz birden ve kendinden başka bir sayıya kalansız bölünemeyen sayılar olarak biliriz. Bu doğru bir tanımdır. Programlama dilini yeni öğrenenler, ilk olarak tanımdan yola çıkan algoritmalar yazarlar.
    {% endblock %}
</div>
