{% extends "layout.html" %}

{% block doldur %}
<h3>Makaleler</h3><hr>
<form action="/search" method="POST">
<input type="text" name="keyword" class="input-sm" maxlength="64" placeholder="Ara" /><button type="submit" class="btn btn-danger">Ara..</button>
<form>
<hr>
{% if rows %}
<div class="list-group">
    {% for i in rows %}
        <a href="/article/{{ i[0] }}" class="list-group-item list-group-item-action disabled">{{i[1]}}</a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger">Henüz yazı yok.</div>
{% endif %}
{% endblock doldur %}